footer.footer.clearfix
				div.row
					div.col-md-3
						h3.footer__header Ivon
						a.footer__link.footer__link_active(href="/") Главная страница
						a.footer__link(href="/") О нас
						a.footer__link(href="/") Одеваются
						a.footer__link(href="/") Сотрудничество
						a.footer__link(href="/") Свяжитесь с нами
					div.col-md-3
						h3.footer__header Обслуживание клиентов
						a.footer__link(href="/") Помощь при покупках
						a.footer__link(href="/") Таблицы размера
						a.footer__link(href="/") Правила
						a.footer__link(href="/") Формы оплаты
						a.footer__link(href="/") Стоимость доставки
						a.footer__link(href="/") Обмен и возврат
						a.footer__link(href="/") Жалобы
					div.col-md-3.col-md-3_mob-none
						h3.footer__header Новости
						div.footer__text ПОДПИШИТЕСЬ И ПОЛУЧАЙТЕ ИНФОРМАЦИЮ О НОВОСТЯХ И АКЦИЯХ В МАГАЗИНЕ
						a.footer__button(href="javascript:void(0);") Подпишитесь на рассылку 
					div.col-md-3.col-md-3_mob-none
						h3.footer__header Свяжитесь с нами
						a.footer__phone-mail.footer__phone-mail_tel(href="tel:7927558546") +792 755 85 46
						div.footer__days ПН. - ПТ. 8:00 - 17:00
						a.footer__phone-mail.footer__phone-mail_email(href="mailto:kontakt@ivon.ru") kontakt@ivon.ru
				div.row.row_border-top
					div.col-md-4.copyright.
						COPYRIGHT © 2016 IVONSKLEP.PL ALL RIGHTS RESERVED.
					div.col-md-4.pays
						span Оплаты поддерживает:
						img(src="images/pays.png" alt="")
					div.col-md-4.footer-social
						a.icon-instagram(href="/" target="_blank")
						a.icon-facebook(href="/" target="_blank")
			//div#newsletter-popup.newsletter
				img(src="images/bg-newsletter.jpg" alt="")
				a#close-popup.close-popup
				form.newsletter-form(action="#"  method="post")
					input.newsletter-form__input(type="text" name="" value="")
					a.newsletter-form__send(href="javascript:void(0);")