header.header
				div.header__top.
					Бесплатная доставка от 10000 руб. &nbsp;-&nbsp; 30 дней на проверку/возврат &nbsp;-&nbsp; офис обслуживания клиентов: 652-58-96 &nbsp;-&nbsp; kontakt@ivon.ru
				div.header__bottom
					div.row.logo-row
						div.col-xs-4.search
							div.row
								div#desk-search-wrap
								a.mobile-menu-button#mobile-menu-button(href="javascript:void(0);")
						div.col-xs-4.logo
							a.logo__img(href="/")
						div.col-xs-4.icons
							div.row
								a.icons__link(href="/contacts")
									i.icon-contacts
									span Контакты
								a.icons__link(href="/favourites")
									i.icon-favourites
									span Закладки
								a.icons__link(href="/basket")
									i.icon-basket
									span Корзина
								a.icons__mob-link(href="/basket")
					div.row.menu-row
						div#mob-search-wrap
							div.search-wrap
								input.search-input(type="text" name="search" value="" placeholder="Поиск...")
								button.search-button
						div.col-md-12.navigation
							nav.menu
								a.menu__link(href="products,newest")
									span.menu__text Новая коллекция
								a.menu__link(href="#") 
									span.menu__text Платья
								a.menu__link(href="#") 
									span.menu__text Юбки
								a.menu__link(href="#") 
									span.menu__text Блузки/Покрывала
								a.menu__link(href="#") 
									span.menu__text Брюки
								a.menu__link(href="#") 
									span.menu__text Обувь
								a.menu__link(href="#") 
									span.menu__text Акции
								a.menu__link(href="#") 
									span.menu__text Одеваются
						a.close-menu-button#close-menu(javascript:void(0);)