<!DOCTYPE HTML>
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Ivon
		link(rel="stylesheet" href="css/main.css")
	body
		a.arrow-up#arrow-up(href="javascript:void(0);")
		div#overlay.overlay
		div#main.main
			include header

			section.main-slider.main-content
				div.item
					img(src="images/slide-1.png" alt="" title="")
				div.item
					img(src="images/slide-2.png" alt="" title="")
			section.center-content.clearfix
				div.col-sm-4
					a.center-content__link(href="/")
						img(src="images/fb.png" alt="" title="")
				div.col-sm-4
					a.center-content__link(href="/")
						img(src="images/inst.png" alt="" title="")
				div.col-sm-4
					a.center-content__link(href="/")
						img(src="images/blog.png" alt="" title="")
				div.col-sm-4
					a.center-content__link.center-content__link_scaled(href="/")
						img(src="images/dresses.jpg" alt="" title="")
						h3.center-content__header Платья
				div.col-sm-4
					a.center-content__link.center-content__link_scaled(href="/")
						img(src="images/bluzki.jpg" alt="" title="")
						h3.center-content__header Блузки
				div.col-sm-4
					a.center-content__link.center-content__link_scaled(href="/")
						img(src="images/obuv.jpg" alt="" title="")
						h3.center-content__header Обувь
				div.col-xs-12
					div.col-md-6
						div.row.row_margin-right-none
							a.center-content__link(href="/")
								img(src="images/balerinki_baner.jpg" alt="" title="")
					div.col-md-6
						div.row.row_margin-left-none
							a.center-content__link(href="/")
								img(src="images/baner_azur.jpg" alt="" title="")
						div.row.row_margin-left-none
							div.col-sm-6
								div.row
									a.center-content__link.center-content__link_top-margin(href="/")
										img(src="images/action.jpg" alt="" title="")
							div.col-sm-6
								div.row
									a.center-content__link.center-content__link_top-margin(href="/")
										img(src="images/action-2.jpg" alt="" title="")
			section.carousel-slider
				h2.carousel-slider__header #IVON #[br] #[span.carousel-slider__small-text Ниже Вы видите прекрасные фотографии]
				div.carousel
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_fashionbypam_sneakres.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_magdanlena_pizamka.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_fashionbypam_sneakers_1.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_olcyk_narzutka.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_sukienka_sandra_eveline_bison.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_karolina_czyzowka_sneakersy.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_kasia-czech_kasca.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_olcyk_narzutka_2.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_karolinacieslik_spodnica_naomi.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_sandalki_bordowe.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_sukienka_188_mallene.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_szpilki_szare.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_magdalena_spodnica-w-paski.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_193_khaki_2909.jpg" alt="")
					div.carousel-item
						a.carousel-item__link(href="/")
							img(src="images/s2_buty_insta.jpg" alt="")
			include footer

		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src="js/jquery.colorbox-min.js")
		script(src="js/libs/adaptive.js")
		script(src="js/libs/slick.js")
		script(src="js/main.js")