div#newsletter-popup.newsletter
					img(src="images/bg-newsletter.jpg" alt="")
					a#close-popup.close-popup(href="javascript:void(0);")
					form.newsletter-form(action="/" method="post")
						input.newsletter-form__input(type="text" value="" name="")
						a.newsletter-form__send(href="javascript:void(0);") Подписаться